$background : ${background};
$foreground : ${foreground};
$transparent : rgba($background, 0);
$color1 : ${color10};
$color2 : darker($color1);
$color3 : gray;
$left-distance : 15px;
$right-distance : 5px;
$font-icon-size : 23px;
$font-icon-size-small : 19px;
$label-size : 19px;
$icons-distance : 5px;
$radius : 16px;

.main, .fill{
	background:$transparent;
	color: $foreground;
}

.gap{
	padding:5px 5px 5px 5px;
}

.radius{
	border-radius:24px;
}

.clock{
	font-size:120px
}

.clock, .icon-bar, .workspace-bar, .stat-bar, .traffic{
	background: $transparent;
	opacity: 0.8;
	//text-shadow: 1px 1px $background;
}

.icon-bar .icon{
	font-size: 31px
}

.icon-bar .icon-small{
	font-size: 27px;
}

.opaque{
	background: $background;
}

.default{
	background: rgba($background, 0.9); 
}

.transparent{
	background: rgba($background, 0.6);
}

.workspaces{
	padding-left: $left-distance;
}

.workspaces button{
	all: unset;
	background: $transparent;
	font-size: 23px;
	padding-right: 1px;
}

.workspaces button:hover{
	color: $color1;
}

.disks{
	padding-left: $left-distance;
}

.disks .metric scale trough{
	background:$color2;
	min-width: 50px;
	min-height: 10px;
	border-radius: $radius;
}

.network{
	padding-left: $left-distance;
}

.network .label{
	padding-right: $right-distance;
}

.icon{
	all: unset;
	font-size: $font-icon-size;
	padding-left: $icons-distance;
	padding-right: $icons-distance;
	background: $transparent;
}

.icon:hover{
	border-bottom: 5px solid $color1;	
}

.icon-small{
	font-size: $font-icon-size-small; 
}

.temperature{
	padding-left: $left-distance;
}

.volume{
	all: unset;
}

.volume:hover{
	color: $color1;
}

.connection{
	all: unset;
}

.connection:hover{
	color: $color1;
}

.user{
	padding-left: 5px;
	padding-right: 15px;
}

.metric{
	padding-right: $right-distance;
}

.metric scale slider{
	all: unset;
}

.metric scale trough{
	background:$color2;
	min-width: 80px;
	min-height: 10px;
	border-radius: $radius;
}

.metric scale trough highlight{
	background:$color1;
	border-radius: $radius;
}

.metric .muted trough{
	background: $color3;
}

.metric .muted trough highlight{
	background: $color3;
}

.label{
	font-size: $label-size;
	padding-left: $right-distance;
}

.label-small, .workspaces .label-small{
	all: unset;
	font-size: 15px;
	padding-right: 3px;
	padding-left: 2px;
}

.value{
	padding-right: $right-distance;
}
