$background : ${background};
$foreground : ${foreground};
$color1 : ${color10};
$color2 : darker($color1);
$color3 : gray;
$left-distance : 20px;
$right-distance : 5px;
$font-icon-size : 23px;
$font-icon-size-small : 19px;
$label-size : 19px;
$icons-distance : 5px;
$radius : 16px;

.main, .fill{
	background:$background;
	color: $foreground;
}

.workspaces{
	padding-left: $left-distance;
}

.workspaces button{
	all: unset;
	background: $background;
	font-size: 23px;
	padding-right: 1px;
}

.workspaces button:hover{
	color: $color1;
}

.disks{
	padding-left: $left-distance;
}

.network{
	padding-left: $left-distance;
}

.network .label{
	padding-right: $right-distance;
}

.icon{
	all: unset;
	font-size: $font-icon-size;
	padding-left: $icons-distance;
	padding-right: $icons-distance;
	background: $background;
}

.icon:hover{
	border-bottom: 5px solid $color1;	
}

.icon-small{
	font-size: $font-icon-size-small; 
}

.temperature{
	padding-left: $left-distance;
}

.volume{
	all: unset;
}

.volume:hover{
	color: $color1;
}

.connection{
	all: unset;
}

.connection:hover{
	color: $color1;
}

.user{
	padding-left: 5px;
	padding-right: 15px;
}

.metric{
	padding-right: $right-distance;
}

.metric scale slider{
	all: unset;
}

.metric scale trough{
	background:$color2;
	min-width: 60px;
	min-height: 12px;
	border-radius: $radius;
}

.metric scale trough highlight{
	background:$color1;
	border-radius: $radius;
}

.metric .muted trough{
	background: $color3;
}

.metric .muted trough highlight{
	background: $color3;
}

.label{
	font-size: $label-size;
	padding-left: $right-distance;
}

.value{
	padding-right: $right-distance;
}
